.itemDiv--checked {
    background-color: #c0d0b5;
}

.itemCheckbox:checked{
    visibility: hidden;
}
.itemCheckbox:not(:checked) + .itemCheckboxIcon--hover{
    display: flex;
    position:absolute;
    visibility:visible;
    color:#538e2a;
    font-size: 31px;
    cursor: pointer;
}

.itemCheckbox:checked + .itemCheckboxIcon{
    display: flex;
    visibility:visible;
    color:#538e2a;
    font-size: 31px;
    user-select: none;
}
.itemInput--checked {
    color:#757474
}