@import url("mainInput/mainInput.css");
@import url("toDoItems/toDoItems.css");
@import url("toDoItems/toDoHandlers/checkToDo/checkToDo.css");
@import url("toDoItems/toDoHandlers/editToDo/editToDo.css");

/* code */

::selection {
  background-color: #92be92;
  color:white;
}

.todolist__title {
  margin-top: 25px;
  font-family:'Times New Roman', Times, serif;
  font-size: 28px;
  font-weight: 600;
}

@media (max-width: 576px) {
  .todolist__title {
    margin-top: 15px;
    font-size: 22px;
  }
}
